#comment {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/commentbackground.jpg );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;

    .comment-wrapper {
        position: relative;
        z-index: 1;

        .left-comment {
            .comment-item {
                margin-left: 10px;

                &.slick-center {
                    transform: scale(1.1);
                    background-color: $primarybg;

                }

                margin-top: 60px;
                position: relative;
                width: 100px !important;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;

                .comment-img {
                    padding-top: 105px;
                }

                .comment-overly {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.6);
                }

                &:first-child {
                    padding-top: 0;
                }

            }
        }
    }

    .right-comment-wrapper {
        margin-top: 116px;

        .right-comment {
            position: relative;
            text-align: start;
            @include pgap(30px, 30px, 60px, 60px);
            background-color: $servicecolor;

            h4 {
                @include font('Raleway', 20px, 500, $btntextcolor);
                margin-bottom: 15px;
            }

            p {

                @include font('Raleway', 16px, 500, $headparacolor);
                margin-bottom: 15px;
                margin-top: 2px;

            }

            p {
                @include font('Open Sans', 14px, 400, $headparacolor);
                line-height: 24px;
                padding-right: 100px;
            }

            .signature {
                position: absolute;
                bottom: 60px;
                right: 40px;
            }

            .right-comment-shape {
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%) rotate(40deg);
                width: 40px;
                height: 40px;
                background-color: $servicecolor;
                z-index: 999;
            }

        }
    }


    .comment-shape {
        position: relative;

        .inner-comment-shape {
            position: absolute;
            width: 100%;
            height: 200px;
            background-color: $colorregular;
            top: -100px;
            left: 0;
            transform: skewX(-88deg);
            transform-origin: top right;

        }
    }

    .bottom-comment-shape {
        position: relative;

        .bottom-inner-comment-shape {
            position: absolute;
            width: 100%;
            height: 200px;
            background-color: $colorregular;
            top: -50px;
            left: 0;
            transform: skewX(-86deg);
            transform-origin: bottom right;

        }
    }

    .com {
        position: relative;
        z-index: 1;

        .comment-line {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);

            img {
                height: 565px;
            }
        }

        .up-comment {
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid $paracolor;
            font-size: 25px;
            color: $paracolor;
            transition: all linear .3s;

            &:hover {
                background-color: $primarybg;
            }

            z-index: 9999;
        }


        .down-comment {
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            position: absolute;
            bottom: -124px;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid $paracolor;
            font-size: 25px;
            color: $paracolor;
            transition: all linear .3s;

            &:hover {
                background-color: $primarybg;
            }

            z-index: 999;
        }
    }

    .slick-track {
        margin-left: 20px;
    }
}